extends layout

block content
  div(class='switch-container')
    div(class='switch-wrapper')
      label(class='switch')
        input(type='checkbox', checked="checked")
        span(class='slider round')
      div(class='switch-text') The Internationals

    div(class='switch-wrapper')
      label(class='switch')
        input(type='checkbox', checked="checked")
        span(class='slider round')
      div(class='switch-text') Majors

    div(class='switch-wrapper')
      label(class='switch')
        input(type='checkbox', checked="checked")
        span(class='slider round')
      div(class='switch-text') DPC Div 1

    div(class='switch-wrapper')
      label(class='switch')
        input(type='checkbox')
        span(class='slider round')
      div(class='switch-text') DPC Div 2


  div(class='table-container')
    - var row = 0;
    - var col = 0;
    table(id='scorigami-matrix-table')
      tbody
        tr
          td(class='radiantAxisLabel', id='vAxisLabel', rowspan=maxScore+2)
            div(class='vertical')= 'Radiant Score'
          td(class='direAxisLabel', id='hAxisLabel', colspan=maxScore+1)
            div= 'Dire Score'
        tr 
         th
         while col < maxScore
           th(class='header-cell')
             div(class='header-hover', id='colheader_' + col)= col++
        while row < maxScore
          tr(class='table-row')
            -col = 0;
            th(class='header-cell')
              div(class='header-hover', id='rowheader_' + row)= row
            while col < maxScore
             td(class='value-cell', id='cell_' + row + "_" + col++)
                div(class='hover', id='hover_' + row + "_" + (col - 1))
            -row++

  script.
      var maxScore = '!{maxScore}';

      $(document).ready(function(){
        addGridHoverEvents();
        refreshGrid();
      });